/* estilos generales */
:root {
  --bgColor: rgba(243, 245, 252, 1);
  --bgColor2: rgb(222, 228, 250);
  --textColor: rgba(10, 56, 113, 1);
  --transparent: rgba(0, 0, 0, 0);
  overflow: auto;
}
* {
  background-color: var(--bgColor2);
  color: var(--textColor);

  padding: 0;
  margin: 0;

  height: auto;

  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  position: relative;


}
body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  height: auto;
  width: auto;
  
  overflow: auto;
}

/* estilos del heder */
header {
  width: 185px;
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
navbar-img,
navbar-logo {
  width: 100%;
  height: 100%;
}
.navbar-content {
  width: 100%;
  height: calc(100% - 74px);
}

/* estilos dentro del main */
main {
  width: calc(100% - 185px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}
/* estilos del primer textarea */
.textToEncrypt-and-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 96%;
  margin: auto;
  padding-top: 90px;

  
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
}
.textToEncrypt {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: calc(100% - 180px);
  margin: 0 auto;
}
.textToProcessed {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  max-height: 100%;
  min-width: 90%;
  min-height: 100%;
  font-size: 30px;
  font-weight: bold;
  padding: 19px;
  margin: auto;
  border: solid 1px var(--transparent);
  outline: none;
  border-radius: 25px;

  resize: none;

}
.textToProcessed::placeholder {
  color: var(--textColor);
  font-weight: normal;
}
.div-erase {
  text-align: center;
  width: 10%;
}
.erase {
  width: 90%;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  max-height: 30%;
  min-height: 150px;
  justify-content: space-around;
}

.menssageToUser{
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}
.exclamationMark{
  width: 25px;
  height: auto;
  margin-right: 5px;
  cursor: pointer;
}

.btn {
  width: 40%;
  height: 67px;
  margin: auto;
  background-color: var(--transparent);
  color: var(--textColor);
  border: solid 1px var(--textColor);
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn1 {
  background-color: var(--textColor);
  color: var(--bgColor);
}


/* estilos para el segundo textarea */
.processedText {
  display: flex;
  margin: auto;
  width: 30%;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  min-height: 800px;
  max-height: auto;

  -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
}
.noContentGreat {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  min-height: 800px;
  margin: auto;
  background-color: rgb(255, 255, 255);

  border-radius: 25px;
}
.noCntent-div-img {
  width: 80%;
  margin: auto auto 0 auto;
  object-fit: cover;
  background-color: rgb(255, 255, 255);
}
.noCntent-img {
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.noContent-div-text {
  margin: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.noContent-h2 {
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.noConten-p {
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.yesContent{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  min-height: 800px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}
.noContentShort{
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);

  border-radius: 25px;
}
.textArea-processedText{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--transparent);
  border-radius: 25px;
}

.processedText-textarea{
  display: inline-block;
  max-width: 90%;
  min-width: 90%;
  min-height: 600px;
  margin: auto;
  background-color: var(--transparent);
  border: var(--transparent);
  font-size: 25px;
  resize: vertical;
  margin: auto;
  outline: none;

  overflow: auto;

}

.btn-copy{
  width: 90%;
}
